<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To Do List By: Terence O Adebiyi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/dolist/style.css">

    </head>
    <body>
        <main class="mainContainer">
            <h1 class="title">My do list</h1>
            <form class="form">
                <div class="form-group">
                    <input type="text" class="todo_text" placeholder="What To Do?..."></input>
                    <button class="btn_submit">ADD</button>
                    
                </div>
            </form>

            <!-- DELETE BUTTONS-->

            <div>
                <button class="btn_del">DELETE COMPLETED</button>
                <button class="btn_del">DELETE ALL</button>
            </div>

            <!--LIST DISPLAY-->
            <ul class="list_todo">
                <li class="list_items">Add a Do List</li>
                <li class="list_item completed"> Finish project 1</li>

            </ul>

        </main>


        
    </body>
</html>